body {
	margin: 0;
	font-family: helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

* {
	vertical-align: top;
}

header {
	min-width: 940px;
}

a {
	color: #FFF;
	text-decoration: none;
}

h1 {
	margin: 75px auto;
	font-family: monospace, helvetica, arial, sans-serif;
	font-size: 3em;
	text-align: center;
}

h2, h3 {
	margin: 0;
	color: #48B07E;
	font-family: helvetica, arial, sans-serif;
	font-size: 2.5em;
}

h2 a {
	color: #48B07E;
}

h3 {
	color: #003679;
	font-size: 1.3em;
	margin-bottom: 20px;
}

hr {
	height: 1px;
	margin: 0 0 5px;
	border: 0;
	border-top: 1px solid #003679;
}

p {
	color: #003679;
}

.top {
	height: 80px;
	min-width: 940px;
	background: url('images/border1-1.jpeg') repeat-x;	
}

.bottom {
	height: 60px;
	min-width: 940px;
	background: url('images/border1.jpeg') repeat-x;	
	margin-bottom: 50px;
}

.wrapper {
	min-width: 940px;
}

.container {
	width: 1100px;
	height: 800px;
	margin: 0 auto;
}

/* nav :: nav :: nav :: nav :: nav :: nav :: nav */

nav {
	width: 250px;
	margin-right: 145px;
	display: inline-block;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	padding: 10px 0 10px 28px;
	font-size: 1.5em;
	border-top: 1px solid #FF7D6B;
}

a:last-child li {
	border-bottom: 1px solid #FF7D6B;
}

nav li:hover {
	color: #FFF;
	background: #FF7D6B;
}

nav li:hover a {
	color: #FFF;
}

nav a {
	color: #003B81;
}

/* spacing :: spacing :: spacing :: spacing :: spacing :: */

.examples {
	width: 700px;
	margin-bottom: 100px;
	display: inline-block;
}

.implement {
	color: #003679;
	font-size: 1.3em;
	font-family: monospace;
	padding: 0 20px;
	margin: 20px 0 50px;
	line-height: 2.75em;
	border-radius: 10px;
	background: #DFE6EE;
	box-shadow: inset 0 3px 0px -2px #C7C7C7;
}

/* button :: button ::*button :: button */

.rectangle {
	margin-bottom: 10px;
}

.rectangle-button {
	width: 138px;
	height: 37px;
	background: #636464;
	color: #FFF;
	font-size: .9em;
	line-height: 2.5em;
	margin-right: 21px;
	text-align: center;
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #3F3F3F;
	box-shadow: inset 0px 4px 1px -3px rgb(162, 162, 162);
	text-shadow: 0 1px 0 #3F3F3F;
}

.rectangle-button.maroon {
	background: #990000;
	border-color: #460000;
}

.rectangle-button.blue {
	background: #00397F;
	border-color: #001733;
}

.rectangle-button.green {
	background: #1A774C;
	border-color: #00331B;
}

.rectangle-button.maroon:hover {
	background: #AA0000;
}

.rectangle-button.blue:hover {
	background: #004A8F;
}

.rectangle-button.green:hover {
	background: #1A874C;
}

.circle-button {
	height: 37px;
	width: 37px;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	line-height: 2.1em;
	margin-right: 40px;
	border-radius: 50%;
	display: inline-block;
}

.circle-button.light-grey {
	color: #787878;
	background: linear-gradient(to bottom, rgb(211, 211, 211) 1%,rgb(253,253,253) 100%);
	border: 1px solid #8E8C87;
	box-shadow: inset 0 2px 2px 0px #FFF, inset 0 -4px 2px -3px #A8A7A3, 0 1px 2px 0px #A2A09C;
}

.circle-button.light-blue {
	color: #4A86B6;
	background: linear-gradient(to bottom, rgb(202, 232, 252) 1%,rgb(253,253,253) 100%);
	border: 1px solid #6F99AD;
	box-shadow: inset 0 2px 2px 0px #FFF, inset 0 -4px 2px -3px #529AA8, 0 1px 2px 0px #8699A0;
}

.circle-button.light-yellow {
	color: #7B8344;
	background: linear-gradient(to bottom, rgb(255, 255, 173) 1%,rgb(253,253,253) 100%);
	border: 1px solid #A09578;
	box-shadow: inset 0 2px 2px 0px #FFF, inset 0 -4px 2px -3px #9B9979, 0 1px 2px 0px #8D945C;
}

.circle-button.light-grey:hover {
	background: linear-gradient(to bottom, rgb(220, 220, 220) 1%,rgb(253,253,253) 100%);
}

.circle-button.light-blue:hover {
	background: linear-gradient(to bottom, rgb(212, 242, 252) 1%,rgb(253,253,253) 100%);
}

.circle-button.light-yellow:hover {
	background: linear-gradient(to bottom, rgb(255, 255, 210) 1%,rgb(253,253,253) 100%);
}

.gradient {
	height: 60;
	margin-right: 50px;
	display: inline-block;
}

.gradient-button {
	height: 58px;
	color: #FFF;
	border-radius: 6px;
	line-height: 3em;
	font-size: 1.2em;
	text-align: center;
	padding: 0px 15px;
	border: 1px solid rgb(211, 144, 60);
	background: linear-gradient(to bottom, rgba(247,234,0,1) 1%,rgba(255,175,75,1) 100%);
	box-shadow: inset 0px 4px 3px -2px rgb(238, 235, 206);
	text-shadow: 0 1px 1px rgb(179, 122, 51);
}

.gradient-button:hover {
	background-image: linear-gradient(to bottom, rgba(248, 248, 0, 1) 1%,rgba(255,175,75,1) 100%);
}

.gradient-button:active {
	height: 57px;
	margin-top: 1px;
	line-height: 3em;
	box-shadow: inset 0px 3px 3px -2px rgb(195, 175, 140);
}

/* ribbon :: ribbon :: ribbon :: ribbon :: ribbon :: */

.ribbon {
	position: relative;
	z-index: 1;
}

.ribbon-right-side {
	position: relative;
	display: inline-block;
	padding: 8px 11px;
	color:  #FFF;
	background: #FDD300;
	border-bottom: 1px solid #D39000;
	font-size: .8em;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 1px 0 #B68800;
}

.ribbon-left-side {
	padding: 33px 3px 0 4px;
	background: #FDD300;
	display: inline-block;

}

.ribbon-left-side:before {
	 content: "";
	 position: absolute;
	 display: block;
	 border-style: solid;
	 border-color: #FDD300 transparent transparent transparent;
	 left: 0;
	 border-width: 7px 0 0 7px;
}

/* modal :: modal :: modal :: modal */

.modal-container {
	height: 400px;
	position: relative;
	display: block;
}

.modal-background{
	
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	background: #000;
	visibility: hidden;
	z-index: 100;
	-webkit-transition: all .75s ease;
}

.modal-box {
	
	height: 70px;
	width: 130px;
	margin: 150px auto 0;
	border-radius: 6px;
	background: #FFFFFF;
	color: #000;
	opacity: 0;
	padding: 20px;
	z-index: 100;
	visibility: hidden;
	-webkit-transform: rotate(8deg);
	-webkit-transition: all .75s ease;

						
}

.hide {
	visibility: hidden;
}

.modal-background-active {
	visibility: visible;
	opacity: .5;
}

.modal-box-active {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1.3);
}









